@using Data.Models
@inject NavigationManager UriHelper
<MudPaper>
    <a onclick=@NavigateTo>
                
        <MudCardContent>
            <div class="d-flex">
                <MudIcon Icon="@Icon"></MudIcon>
                <MudText Style="padding-left:10px;">@Text</MudText>
            </div>
        </MudCardContent>
    </a>
</MudPaper>

@code {
    //private IEnumerable<DetaletEFaturimit>? Orders;

    //protected override async Task OnInitializedAsync()
    //{
    //    Orders = await new Data.GetData().GetDetaletAsync();
    //}
    [Parameter]
    public string? Icon { get; set; }
    [Parameter]
    public string? Text { get; set; }
    [Parameter]
    public string? Link { get; set; }

    protected void NavigateTo()
    {
        UriHelper.NavigateTo(this.Link);
    }
}
