@inject NavigationManager UriHelper


<MudPaper  Outlined=true Elevation="3" Style="@SetStyle()">
    @*<a onclick=@NavigateTo>*@
        <MudText Style="text-align:center; padding:15px;">@NumriTavolines</MudText>
    @*</a>*@
</MudPaper>


@code {


    [Parameter]
    public string NumriTavolines { get; set; }
    [Parameter]
    public bool KaPorosi { get; set; }


    protected void NavigateTo()
    {
        UriHelper.NavigateTo("/");
    }

    protected string SetStyle()
    {
       return KaPorosi ? "background-color:rgba(76, 175, 80, 0.4);" : "";
    }

    
}
