@inject NavigationManager UriHelper


<MudPaper Elevation="3" >
    @*<a onclick=@NavigateTo>*@
                <MudText Style="text-align:center; padding:15px;">@NumriTavolines</MudText>
    @*</a>*@
</MudPaper>


@code {


    [Parameter]
    public string NumriTavolines { get; set; }
    
    protected void NavigateTo()
    {
        UriHelper.NavigateTo("/");
    }
}
