@using Data.Models
<MudSimpleTable  Style="overflow-x: auto;" >

    <tbody>
        @foreach (var order in Orders.Take(6))
        {
            <tr>
                <td>@order.kam</td>
                <td style="font-weight:bolder; text-align:right;">@order.vlera.ToString()€</td>
            </tr>
        }
    </tbody>
</MudSimpleTable>

@code {

    private IEnumerable<DetaletEFaturimit> Orders;

    protected override async Task OnInitializedAsync()
    {
        Orders = await new Data.GetData().GetDetaletAsync();
    }
}
